
<footer class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="inner-content">
              <div class="row">
                  <div class="col-lg-4 col-md-6 col-12">
                      <div class="single-footer f-about">
                          <div class="logo">
                              <a href="index.html">
                                <h2>GYUMINWORLD</h2>
                              </a>
                          </div>
                          <p>Email : legm0310@gmail.com</p>
                          <h4 class="social-title">Contact me</h4>
                      </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-12">
                  </div>
                  <div class="col-lg-2 col-md-6 col-12">
                  </div>
                  <div class="col-lg-4 col-md-6 col-12">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container ">
          <div class="inner-content">
              <div class="row topborder">
                  <div class="col-lg-6 col-md-6 col-12">
                      <p class="copyright-text">©2021 Copyright personal page</p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12 right">
                      <p class="copyright-owner">Designed and Developed by LeeGyumin</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
 
</footer>