
<div class="p-5 mb-4 bg-light rounded-3 text-center">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">MEAN Authentication App</h1>
    <p>Welcome to our custom MEAN authentication app</p>
    <button class="btn btn-primary btn-lg" type="button" routerLink="/register">
      Register
    </button>
    &nbsp;
    <button class="btn btn-success btn-lg" type="button" routerLink="/login">
      Login
    </button>
  </div>
</div>


<div class="container">
  <div class="row text-center">
    <div class="col-md-4 text-center">
      <div class="card alert-info">
        <div class="card-body">
          <h5 class="card-title mb-4">Profile</h5>
          <h6 class="card-subtitle mb-3">이름 : 이규민</h6>
          <h6 class="card-subtitle mb-3">학번 : 91812787</h6>
          <h6 class="card-subtitle mb-3">학과 : 중부대학교 정보보호학과</h6>
          <h6 class="card-subtitle mb-3">나이 : 23</h6>
          <h6 class="card-subtitle mb-3">거주지 : 고양시 덕양구</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="card alert-success">
        <div class="card-body">
          <h5 class="card-title mb-4">Team Project</h5>
          <h6 class="card-subtitle mb-3">팀명 : 벌초is</h6>
          <h6 class="card-subtitle mb-3">프로젝트 : 벌초 예약 서비스</h6>
          <h6 class="card-subtitle mb-3">팀원 : 유태균(팀장), 이승훈, 성우상, 이규민</h6>
        </div>
      </div>
    </div>
  </div>
</div>